# phpstorm project files
.idea
# composer vendor dir
/vendor
tests/_output/*

/composer.lock
#web/files/
#web/uploads/catalog_img/.quarantine/
#web/uploads/catalog_pdf/.quarantine/
#web/uploads/slider/.quarantine/
#web/uploads/user/.quarantine/
#web/uploads/user/4/.quarantine/
#web/uploads/user/5/.quarantine/
#web/uploads/user/7/.quarantine/
#web/uploads/user/8/.quarantine/
